html {
    font-family: Verdana, sans-serif;
    background-color: #F9FAF8;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 5%;
}
.contents {
    margin: 0 15%;
}

.header .top {
    display:flex;
    flex-direction: row;
}
.top h1{
    padding-right: auto;
    color: #F9FAF8;
    flex-grow:2 ;
    font-size: 24px;
}
.top p{
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 3%;
}
.header .bottom{
    display:flex;
    justify-content: space-between;
}
.bottom div {
    flex: 1 1 0;
    margin: 5% 0;
}
.image{
    background-color: #6D747D;
}
.header .bottom h1{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}
.header .bottom h2{
    font-size: 18px;
    color: #E5E7EB;
}
.header .bottom button{
    padding: 5px 20px;
    border: 0;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 5px;
}
body {
    margin: 0;
}
.info {
    margin: 0 20%;
    background-color: #F9FAF8;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
.info h1{
    margin: 0 0 10% 0;
}
.info .content{
    display:flex;
    gap:50px;
    justify-content: space-around;
}
.info-box {
    flex: 1 1 0;
    margin: 0 1%;
}
.info-box p{
    text-align: center;
}
.img-box {
    border-radius: 25px;
    flex:1 1 0;
    width:200px;
    border: solid;
    height: 200px;
    border-color:#3882F6;
    background-color: #F9FAF8;
    display: flex;
}

.quote{
    padding: 7% 15%;
    background-color: #E5E7EB;
}
.quote div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote h2 {
    font-family: Arial;
    font-size:36px;
    flex: 1 1 0;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote h3 {
    color: #1F2937;
    margin: 0 3% 0 auto;
}

.ground{
    margin: 5% 10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 3% 7%;
    border-radius: 8px;
}
.ground button{
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 6px;
    border-color: #F9FAF8;
    border-style: solid;
    font-size: 18px;
}
.call {
    margin: 0 auto 0 5%;
    display:flex;
    flex-direction: column;
    align-content:flex-start;
}

.call h1{
    font-size: 24px;
    margin:0;
    color:#F9FAF8;
}
.call h2{
    font-size: 18px;
    margin:0;
    color: #E5E7EB;
}
.footer{
    background-color: #1F2937;
    padding: 1% 5%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-size: 12px;
    color:#E5E7EB;
    text-align: center;
}