.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header .top {
    display:flex;
    flex-direction: row;
}
.top h1{
    padding-right: auto;
    color: #F9FAF8;
    flex-grow:2 ;
    font-size: 24px;
}
.top h2{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 10px 0px 0px;
}